.sliderDiv {
    width: 100%;
    overflow: hidden;
    height: 750px;
}

.slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Resmi bozmadan içeriğin tamamını görüntülemek için */
    object-position: center center;
    /* Resmin odak noktasını ortalamak için */
}